body{
    width: 100%;
    background-color: rgb(218, 218, 218);
    margin:0px;
    font-family:sans-serif ;
}
.logo{
    margin-left:20px;
    margin-bottom:100px;
    display:flex;
}
.logo h1{
    color:orange;
    font-size:35px;
    margin-top:10px;
}
.logo img{
    margin-left:10px;
    margin-right:-12px;
    width: 75px;
    height:55px;
}
head{
    position:relative;
    display:flex;
    background-image: url("images/bg-hero.jpg");  
    background-size: cover;  
    background-position: center;
    height: 603px;
    color: white;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 603px;
    background-color: rgba(0, 0, 44, 0.815); /* Тъмно покритие с прозрачност */
    z-index: 1;
}
nav{
    margin-top:-600px;
    position: relative;
    z-index: 2;
}
.navi{
    margin-left:1000px;
    margin-top:-180px;
}
.navi ul{
    position:absolute;
    display: flex;
    margin-left:380px;
}
.navi ul li{
    padding-left:6px;
    list-style-type:none;

}
.navi ul li a{
    text-decoration:none;
    color:white;
}
#book_table{
    background-color: orange;
    padding:5px 10px 5px 10px;
    margin-left:5px;
    margin-top:-5px;
}
#book_table a:hover{
    color:gray;
}
.navi ul li a:hover{
    color:orange;
}
.info{
    display: flex;
    color:white;
    margin-top:300px;
    margin-left:40px;
}
.info img{
    width: 450px;
    margin-left:770px;
    margin-top:-70px;
}
#txt_info p{
    margin-bottom:30px;
    font-size:16px;
}
#txt_info h2{
    margin-top:50px;
    font-size:45px;
}
.info a{
    background-color: orange;
    padding:10px 25px 10px 25px;
    text-decoration:none ;
    color:white;
}
.info a:hover{
 color:gray;
}
.second{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
#masterCheeff{
    width: 300px;
    padding-left:15px;
background-color: white;
margin-right:20px;
margin-left:20px;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25); ;
}
#masterCheeff img{
 width: 70px;
}
#Qality_Food{
    width: 300px;
    padding-left:15px;
    background-color: white;
    border-radius: 2%;
    margin-right:20px;
margin-left:20px;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25); ;
}
#Qality_Food img{
 width: 70px;
}
#Online_Order{
    width:300px;
    padding-left:15px;
background-color: white;
border-radius: 2%;
margin-right:20px;
margin-left:20px;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25); ;
}
#Online_Order img{
    width: 70px;
}
#Service{
    width: 300px;
    text-align: left;
    padding-left:15px;
    background-color: white;
    border-radius: 2%;
    margin-right:20px;
margin-left:20px;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25); ;
}
#Service img{
    width: 70px;
}
.third{
    display:flex;
    margin-top:90px;
}
#pics{
    width: 50%;
    margin-left:365px;
    margin-right:-250px;
}
#pics #oneImg{
    width: 220px;
}
#pics #twoImg{
    width: 170px;
}
#pics #thridImg{
    width:170px;
    margin-left:50px;
    margin-bottom:160px;
}
#pics #fourthImg{
    width:220px;
    margin-bottom:110px;
}
#About_Us{
    margin-right:-200px;
}
#About_Us a{
    text-decoration:none;
    background-color: orange;
    padding:10px 20px 10px 20px;
    margin-left:5px;
    margin-top:-5px;
    font-size:10px;
    color:white;
}
#About_Us a:hover{
    color:gray;
}
#About_Us h2{
    font-size:30px;
}
#About_Us p{
    font-size:14px;
}
#About_Us h3{
    font-family:Brush Script MT;
    color:orange;
}
#About_Us img{
    margin-left:-18px;
    margin-right:-18px;
    margin-bottom:-13px;
    margin-top:-80px;
    width:70px;
    height:55px;
}
.line-with-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:-35px;
  }
  
  .line-with-text hr {
    flex: 1;
    border-top: 3px solid orange;
    margin-right:400px;
  }
  .text-with-line {
    display: flex;
    align-items: center ;
    margin-right:200px;   
    gap: 8px; /* разстояние между линията и текста */
  }
  .text-with-line #fifteen{
    color:orange;
    font-size: 40px;
    font-weight: bold;
  }
  .v-line {
    width: 4px;
    height: 40px; /* колкото искаш да е "къса" */
    background-color:orange;
    border:none;
  }
  #text_fifteen_years p{
    margin-bottom:0px;
    margin-top:0px;
  }
  #fifteen_txt1{
    color:gray ;
  }
  #fifteen_txt2{
    font-weight: bold;
    font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black bold solid;
  }
  .yers_about{
    display :flex;
    margin-right:100px;
  }
  .text-with-line2 {
    display: flex;
    align-items: center;
    gap: 8px; /* разстояние между линията и текста */
  }
  .text-with-line2 #fifty{
    color:orange;
    font-size:40px;
    font-weight: bold;
  }
  .v-line2 {
    width: 4px;
    height: 40px; /* колкото искаш да е "къса" */
    background-color: orange;
    border:none;
    margin-left:-200px;

  }


  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  .tabs a{
    margin-right:-20px;
  }
  .tab-link {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    position: relative;
    font-size: 16px;
    

    text-decoration: none;
    color: black;
    padding: 10px 20px;
    position: relative;
    font-size: 16px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1); /* ето тук е сянката */
    border-radius: 5px;
    transition: box-shadow 0.3s;
  }
  
  .tab-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
  }
  
  .tab-link:hover::after {
    width: 100%;
  }
  
  .tab-content {
    display: none;
    margin-top: 30px;
    font-size: 18px;
  }
  
  /* Покажи само активното съдържание */
  #tab1:target,
  #tab2:target,
  #tab3:target {
    display: block;
  }

  .fourth h2 ,#furst_Item_txt_p1, #fusrt_Item_txt_p2{
    text-align: center;
  }
  .fourth h2{
   margin-bottom: 100px;
   font-size:40px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #furst_Item{
    display:flex; 
  }

  #fusrt_Items_pic img{
    width: 45px;
    margin-top:23px;
    margin-right: 25px;
  }

  #fusrt_Item_txt_p1{
     color:gray;
     margin-bottom:-5px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  #fusrt_Item_txt_p2{
    color:black;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  #fusrt_items_pic2 img{
    width: 80px;
    height: 80px;
    margin-top:3px;

  }

  #furst_Items_pic3 img{
    width:70px;
    height: 50px;
    margin-top:21px;
  }
  .menu_Breakfast{
    display: flex;
  }


  .product-table {
  display: flex;
  gap: 40px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.product-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.product {
  display: flex;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  gap: 15px;
}

.image-container {
  position: relative;
  min-width: 100px;
}

.image-container img {
  height: 120px;
  width: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.product-info {
  flex: 1;
}

.product-info h3 {
  margin: 0;
  font-size: 18px;
}

.price {
  font-weight: bold;
  margin: 5px 0;
}

hr {
  margin: 10px 0;
}

.description {
  font-size: 14px;
  color: #555;
}









.product-table {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
    max-width: 1600px; /* по-широка таблица */
    margin: auto;
  }
  
  .product-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .product {
    display: flex;
    gap: 20px;
 background-color: rgb(218, 218, 218);;
  

    border-radius: 8px;
    padding: 20px;
  }
  
  .image-container {
    position: relative;
    min-width: 100px;
  }
  
  .image-container1 img {
    height: 150px;
    width: 130px;
    object-fit: cover;
    border-radius: 4px;
  }
    
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-row h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .price {
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  .price{
    color: orange;
  }



  .image-container1 {
    position: relative;
    display: inline-block;
  }




  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: orange; /* бутон в оранджево */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 60px orange; /* голяма прозрачна сянка в цвета на бутона */
    cursor: pointer;
    border: none;
  }

  .video-button svg {
    width: 30px;
    height: 30px;
    fill: white;
  }
 
  .fifth{
    margin-top:30px;
    display: flex;
    margin-left: 335px;
  }
  .line-with-text h3{
    font-size:24px;
    font-family:Brush Script MT;
    color:orange;
    
  }
  .form{
    background-color: rgb(0, 0, 44);
    padding-left: 50px;
    padding-right:50px;
    padding-top:10px;
  }
  .form h2{
    color:white;
    font-size: 30px;
    margin-top: 35px;
  }
  .form .line-with-text hr{
    flex: 1;
    border-top: 3px solid orange;
    margin-right:275px; 
    border-radius: 20%;
  } 
  #Name{
    padding:10px 20px 10px 20px;
    margin-bottom: 10px;
  }
  #Email{
    margin-left:5px;
    padding:10px 20px 10px 20px;
    margin-bottom: 10px;
  }
  #Date{
    padding:10px 20px 10px 20px;
    margin-bottom: 10px;
  }
  #No_of_People{
    margin-left:5px;
    padding:10px 20px 10px 38px;
    margin-bottom: 10px;
  }
  #Request{
    height: 100px;
    width: 430px;
  }
  #Book{
    margin-top:10px;
       padding:15px 173px 15px 172px;
       background-color: orange;
       color:white;
       font-size:20px;
  }
  #Book:hover{
     color:gray;
  }

.sixth h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:32px;
    margin-top:-16px;
}
.sixth h4{
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.sixth h2 ,h3, h4{
    text-align: center;
}
.sixth
  #Pics_Chefs{
    display:flex;
  }

  #Pic img{
  width: 220px;
  border-radius:50%;
  margin-left:120px;
  margin-top:10px;
  }

  #Pic p{
    text-align: center;
    font-size: 16px;
    padding-left:7px;
    padding-right:7px;
  }
  #Pic{
    width: 30%;
    background-color: white;
    margin-left:15px;
    margin-right:15px;
    border-radius: 5%;
  }

  .line-with-text1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 270px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .line-with-text1 hr {
    flex: 1;
    border: none;
    border-top: 1px solid orange;
  }
  .line-with-text1 h3{
    margin-top:35px;
    font-size:24px;
    font-family:Brush Script MT;
    color:orange;
  }

  
  footer{
    display:flex;
    background-color: rgb(0, 0, 44);
  }

  .line-with-text2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 270px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .line-with-text2 hr {
    flex: 1;
    margin-right:130px;
    border: none;
    border-top: 1px solid orange;
  }

  .line-with-text2 h3{
    margin-top:30px;
    font-size:24px;
    font-family:Brush Script MT;
    color:orange;
  }
.Company{
    margin-left:340px;
}
.Company a{
    text-decoration: none;
    color:white;
    font-size: 12px;
}
.Company a:hover{
    color:gray;
}
.Contact{
    margin-left:50px;
    margin-right: 50px;
}

.Contact h3{
    margin-bottom:25px;
}

.Opening{
    margin-right:50px;
}

.Contact p{
    color:white;
    font-size:12px;
}

  .Contact img{
   width: 20px;
   margin-bottom:20px;
  }
#p_img{
    margin-left:-6px;
    margin-bottom:-10px;
}
#p_imgOnly{
    padding-right:10px;
}
  #twiter{
    margin-bottom:16px;
  }
  #facebook{
    width: 35px;
    margin-bottom:10px;
  }
  #link_In{
    margin-bottom:16px;
    margin-left:4px;
  }
  .Opening p{
    color:white;
    font-size:12px;
  }

  .Letter p{
    margin-left:5px;
     color:white;
     font-size:12px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .Letter #Email{
    padding: 10px 50px 10px 120px;
    border: 1px solid orange;
  }
  .Letter #submit_btn{
    border:none;
    background-color: orange;
    color:white;
    margin-left:-90px;
    padding: 5px 15px 5px 15px;
  }
  .Letter #submit_btn:hover{
    color:gray;
  }